@import 'variable.styl'
*
  margin: 0
  padding: 0
  color: $color-text
  //background: $color-background
  user-select none
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
li
    list-style: none
a
    text-decoration none
